$black: #000000
$grey: #212529
$red: #FF0000

$display: 'Michroma', sans-serif
$body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

body
  font-family: $body
  background: $black
  color: $grey

h1
  font-family: $display
  padding-bottom: 5px
  border-bottom: 1px solid $red

::selection
  background: $red